<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Мои рисунки</title>
 </head>
 <body>
  <p><img src="scr.png" alt="scr1"></p>
  <p><img src="auth.png" alt="scr2"></p>
  <p><img src="scr2.png" alt="scr3"></p>
  <p>Server OS : {{ ansible_os_family }}</p>
  <p>Server HOST : {{ ansible_hostname }}</p>
 </body>
</html>
